.root {
    float: right;
    padding: 30px;
    border: 1px solid #dadada;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.root h2 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 16px;
}

.tags {
    list-style: none;
}
.tags li {
    display: inline-block;
    margin-right: 4px;
}
.tags li a {
    display: block;
    font-size: 1.2rem;
    line-height: 14px;
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 7px;
    color: #fff;
    background-color: #dadada;
    transition: background-color .3s ease-in;
}
.tags li a:hover {
    background-color: #da4453;
}

@media screen and (min-width: 1200px) {
    .root {
        width: 360px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .root {
        width: 290px;
    }
}

@media screen and (max-width: 991px) {
    .root {
        float: none;
        width: 100%;
    }
}