.root {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.bio {
    background-color: #313233;
    color: #999;
    margin: 25px 0 0;
    padding: 40px 0 20px;
}

.bio h2 {
    margin: 0 0 25px;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 16px;
}

.bio p {
    margin: 0;
}

.copyright {
    font-size: 1.2rem;
    line-height: 14px;
    color: #999;
    padding: 10px 0;
    border-top: 1px solid #3a3a3a;
    background-color: #1f1f1f;
}
.copyright p {
    margin: 0;
}
.copyright strong {
    text-transform: uppercase;
    color: #dadada;
}