.root::after {
    content: "";
    display: table;
    clear: both;
}

.main {
    float: left;
}

@media screen and (min-width: 1200px) {
    .main {
        width: calc(100% - 390px);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main {
        width: calc(100% - 320px);
    }
}

@media screen and (max-width: 991px) {
    .main {
        float: none;
        width: 100%;
    }
}