.root {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;
    display: block;
    margin-bottom: 50px;
}

.articleImage,
.articleImage img {
    width: 100%;
    display: block;
}
.articleImage {
    transition: opacity .3s ease-in;
}
.articleImage:hover {
    opacity: 0.8;
}

.articleImageLoading {
    height: 240px;
    background-color: #6b6b6b;
}
.articleHolderLoading {
    padding: 30px;
    border: 1px solid #dadada;
    border-top-width: 0;
    color: #6b6b6b;
}
.articleHolderLoading h2 {
    font-size: 0;
    background-color: #999;
    border-radius: 15px;
    width: 200px;
    height: 24px;
}
.articleContentLoading {
    margin: 25px 0 0;
    height: 200px;
    background-color: #999;
    border-radius: 15px;
    font-size: 0;
}

.articleHolder {
    padding: 30px;
    border: 1px solid #dadada;
    border-top-width: 0;
    color: #6b6b6b;
}

.root h2 {
    margin: 0;
    color: #222;
}

.articleBackground {
    height: 240px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
    font-size: 4rem;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #da4453;
}

.root a {
    text-decoration: none;
}

.root h2 a {
    color: currentColor;
    display: block;
    transition: color .3s ease-in;
}
.root h2 a:hover {
    color: #da4453;
}
.articleContent {
    margin: 0 0 10px;
    line-height: 22px;
}
.root .meta {
    margin: 15px 0;
    line-height: 24px;
}
.meta img {
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(-1px);
    height: 24px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}
.root p {
    margin: 0 0 10px;
    line-height: 22px;
}
.readMore {
    display: inline-block;
    text-align: center;
    padding: 11px 13px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 14px;
    color: #fff;
    background-color: #da4453;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all .3s ease-in;
    letter-spacing: 0.5px;
}
.readMore:hover {
    border-color: #363636;
    background-color: #363636;
}