* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

:global(#root) {
  position: relative;
  min-height: 100vh;
  padding-top: 85px;
  padding-bottom: 150px;
}

html {
  font-size: 62.5%;
}

body {
  color: #222;
  font-size: 1.4rem;
  background-color: #f2f2f2;
}

ul, ol {
  margin: 0;
}

:global(.container) {
  max-width: 100%;
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

:global(.container)::after,
:global(.clearfix)::after { 
  content: "";
  display: table;
  clear: both;
}

:global(.textRight) {
  text-align: right;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  :global(.container) {
    width: 970px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  :global(.container) {
    width: 720px;
  }
}