.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #363636;
    color: #fff;
}
.root a {
    color: currentColor;
    text-decoration: none;
}
.root h1 {
    float: left;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 400;
    padding: 15px;
    text-transform: uppercase;
    margin: 0;
}
.root h1 a {
    display: block;
}
.navLoading {
    float: right;
    margin-right: -15px;
    width: 200px;
    height: 16px;
    border-radius: 15px;
    margin: 23px 0;
    font-size: 0;
    background-color: #6b6b6b;
}
.nav {
    float: right;
    margin-right: -15px;
}
.nav li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
}
.nav a {
    display: block;
    padding: 15px;
    transition: color .3s ease-in;
}
.nav a:hover {
    color: #da4453;
    text-decoration: none;
}
.nav a.active {
    text-decoration: underline;
}